.cards {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.25rem;
   margin-top: 3.125rem; 
   animation-name: slideInUp;
   animation-duration: 2s;
   animation-delay: 0s;
 }

.cards .MuiCard-root {
  max-width: 37.5rem;
}

.cards .MuiCardMedia-root {
  width: 28.125rem; 
  height: 18.75rem;
}


 img {
   margin: 0;
 }

@media screen and (max-width: 480px) {
  .cards {
    flex-direction: column;
    align-items: stretch;
  }

  .cards > * {
    max-width: 100%;
  }

  .cards .MuiCard-root {
    width: 100%;
  }

  .cards .MuiCardMedia-root {
    width: 100%;
    height: 18.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .cards {
    flex-direction: row;
    align-items: stretch;
  }

  .cards .MuiCard-root {
    width: 100%;
  }

  .cards .MuiCardMedia-root {
    width: 100%;
    height: 18.75rem;
  }
}