.particle-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
  }

.default-cursor {
    cursor: auto;
}

@media screen and (max-width: 1024px) {
    CustomCursor {
      display: none;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .loading-container {
        transform: scale(0.8);
      }
  }

  @media screen and (max-width: 481px) and (max-width: 767px) {
    .loading-container {
        transform: scale(0.6);
      }
  }

  @media screen and (max-width: 479px) {
    .loading-container {
        transform: scale(0.5);
      }
  }
