u {
    text-decoration: underline;
    text-decoration-color: #02d866;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.heading1,
.heading2,
.about-card,
.card-container {
    animation-duration: 2s;
    animation-fill-mode: both;
    opacity: 0;
}

.story {
    padding-bottom: 3.125rem;
}

img {
    margin-left: 3.75rem;
    margin-top: 1.25rem;
}

.about {
    background-color: black;
    line-height: 1.25rem;
}

.about-content {
    display: flex;
    padding-left: 1.875rem;
    padding-right: 1.875rem; 
}

.heading {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: -1.875rem;
    padding-left: 0.625rem;

    img {
        margin-top: -1.25rem;
    }
}

.body {
    padding-left: 0.625rem;
}

.heading1 {
    padding-left: 20px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-delay: 0s;
}

.heading2 {
    padding-left: 1.25rem;
    color: #02d866;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-delay: 0s;
}

.about-text {
    padding-left: -0.625rem;
    font-size: 2.188rem;
    line-height: normal;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0s;
}

.skills {
    margin-top: -15%;
    position: absolute;
}

.about-card {
    height: 9.375rem;
    background-image: linear-gradient(to left, #02d866, black);
    background-color: #02d866;
    border-radius: 0.625rem;
    font-size: 1.25rem;
    animation-name: slideInRight;
    animation-duration: 2s;
    animation-delay: 0.5s;
    margin-left: -0.625rem;
}

.about-card .card-body {
    width: 37.5rem;
}

.about-card .card-title {
    margin-top: -2.5rem;
    margin-left: .938rem;
    padding-left: .625rem;
    padding-bottom: 0;
    line-height: 1;
    font-size: 20px;
}

.about-card .card-text {
    padding-left: .625rem;
}

.partition-container {
    display: flex;
    position: relative;
    height: 50%;
    width: 100%;
    bottom: 10%;
    min-height: 37.5rem;
  }
  
  .partition-left {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 75%;
    padding: 1.25rem;
  }
  
  .partition-right {
    width: 50%;
    padding: 0;
    margin: -12.5rem 0 .625rem;
    max-width: 50%;
  }

.card-container {
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-delay: 0s;
    margin-left: -.313rem;
    margin-top: 12.5rem;
}
  
.card-row {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: .625rem; 
   margin: -21.875rem 0 0 1.875rem;
   padding-top: 20px;
}

@media screen and (max-width: 480px) {
    .about {
        animation-name: slideInUp;
        animation-delay: 0s;
        animation-duration: 2s;
    }

    .heading1 {
        padding-left: 1.25rem;
        animation-name: slideInLeft;
        animation-duration: 1s;
        animation-delay: 0s;
        margin-top: 6.25rem;
    }

    .about-text {
        padding-left: -.625rem;
        margin-left: .938rem;
        font-size: 2.188rem;
        line-height: normal;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 0s;
        font-size: 1.563rem;
    }

    .partition-container {
        flex-direction: column;
        min-height: 31.25rem;
        position: relative;
    }

    .partition-left{
        width: 100%;
        max-width: none;
    }

    .partition-right {
        display: flex;
        width: 100%;
        padding: 0.625rem;
        margin-top: -2.813rem;
        justify-content: center;
        align-items: center;
        margin-left: 7.5rem;
    }

    .card-container {
        margin-top: 31.25rem;   
    }

    .about-card {
        position: absolute;
        height: 9.375rem;
        width: 90vw;
    }

    .about-card .card-title {
        font-size: 0.8em;
        font-weight: bold;
        line-height: 20px;
        margin-top: 1.25rem;
    }

    .about-card .card-text {
        font-size: 0.8em;
        margin-top: 3.125rem;
        margin-bottom: -1.563rem;
        line-height: 0.1em;
    }

    .heading {
        margin-top: 1.875rem;
        padding-top: 0.625rem;
        display: flex;
        img {
            height: 3.125rem;
            width: 3.125rem;
            margin-right: 0.625rem;
            margin-top: 0.625rem;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    body {
        overflow: auto;
    }

    .heading1 {
        margin-left: 0.938rem;
    }

    .heading2 {
        margin-left: 0.938rem;
    }

    .about {
        animation-name: slideInUp;
        animation-delay: 0s;
        animation-duration: 2s;
    }

    .about-text {
        padding-left: -0.625rem;
        margin-left: 1.875rem;
        line-height: normal;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 0s;
        font-size: 25px;
    }

    .about-card {
        position: absolute;
        height: 9.375rem;
        width: 95vw;
        bottom: 10%;
    }

    .partition-container {
        flex-direction: column;
        min-height: 37.5rem;
        position: relative;
    }

    .partition-left {
        width: 100%;
        padding: 0.625rem;

        max-width: none;
    }

    .partition-right {
        width: 100%;
        padding: 0.625rem;
        margin-top: 1.25rem;
        margin-bottom: 3.125rem;
        max-width: none;
    }

    .card-container {
        margin-top: 36rem;
    }

    .about-card .card-title {
        margin-top: -0.625rem;
        margin-bottom: 0.625rem;
        margin-right: 12.5rem;
    }

    .about-card .card-text {
        margin-top: 1.875rem;
        padding-left: 1.563rem;
        line-height: 0.313rem;
    }

    .about-card .card-body {
        width: 100%;
    }

    .heading {
        img{
            margin-top: 0.313rem;
        }
    }
}
