.text-shpere {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

.tagcloud--item {
    color: #02d688;
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: white;
}

@media screen and (max-width: 600px) {
    .tagcloud {
        font-size: 1em;
        border-radius: 30%;
        margin-left: -1.25rem;
    }

    .text-shpere {
        margin-top: -1px;
        height: 18.75rem;
        width: 22.5rem;
        z-index: 1;
    }
}